*{
  box-sizing: border-box;
  place-items: center;
}

.App{
  width: 420px;
  position: relative;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
}

.button{
  background: none;
  margin: 5px;
  padding: 0px;
  height: 50px;
  width: 50px;
}

#add{
  display : block;
  position: absolute;
  top: 0px;
  left: 0px;
}

#addTask{
  display: none;
}